In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import trompy as tp

In [5]:
# read in csv file(s)
PATH_TO_WORKBOOK = Path("C:/Users/jmc010/UiT Office 365/O365-Pipette 2 - Documents/People/Marije")
EXCEL_WORKBOOK = "measurements_b3_1.xlsx"
rows, header = tp.metafilereader(PATH_TO_WORKBOOK / EXCEL_WORKBOOK, sheetname="metafile_niacin")

In [7]:
def get_value(row):
    if row['sex'] == 'female' and row['group'] == 'control':
        return 0
    elif row['sex'] == 'female' and row['group'] == 'experimental':
        return 1
    elif row['sex'] == 'male' and row['group'] == 'control':
        return 2
    elif row['sex'] == 'male' and row['group'] == 'experimental':
        return 3
    else:
        return -1

def tweak_df(df):
    
    return (df
            # .query("bodyweight != ''")
            .query("bodyweight.notna()", engine="python")
            .astype({"sex": "category",
                     "group": "category",
                     "diet": "category",
                     "bodyweight": float,
                     "food_yesterday": float,
                     "food_intake": float,
                     "water_intake": float
                     }
                    )
             .assign(groupn = lambda df_: df_.apply(get_value, axis=1))
            )
    
df = tweak_df(pd.DataFrame(rows, columns=header))

In [8]:
df

,animal_id,sex,group,diet,date,niacin,bodyweight,food_yesterday,food_today,food_intake,water_yesterday,water_today,water_intake,groupn
0,B3101,male,control,control,2024-02-12,0.0,21.8,-1.0,60.7,-1.0,-1.0,50.9,-1.0,2
1,B3102,male,control,control,2024-02-12,0.0,24.7,-1.0,56.0,-1.0,-1.0,50.4,-1.0,2
2,B3103,male,experimental,control,2024-02-12,0.0,24.9,-1.0,54.5,-1.0,-1.0,50.5,-1.0,3
3,B3104,male,experimental,control,2024-02-12,0.0,24.9,-1.0,54.5,-1.0,-1.0,50.5,-1.0,3
4,B3105,male,control,control,2024-02-12,0.0,25.4,-1.0,56.3,-1.0,-1.0,50.9,-1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,B3128,female,experimental,experimental,2024-02-26,7.5,21.6,34.2,29.8,4.4,51.1,47.9,3.2,1
476,B3129,female,control,control,2024-02-26,0.0,21.0,45.5,43.0,2.5,41.9,38.3,3.6,0
477,B3130,female,control,control,2024-02-26,0.0,22.4,42.0,39.1,2.9,40.5,37.1,3.4,0
478,B3131,female,experimental,experimental,2024-02-26,7.5,21.5,38.2,36.0,2.2,52.0,49.4,2.6,1
479,B3132,female,experimental,experimental,2024-02-26,7.5,21.5,29.3,26.1,3.2,51.1,48.3,2.8,1

In [19]:
days = df.query("animal_id == 'B3130'").bodyweight

In [20]:
days

29     20.0
61     20.0
93     19.9
125    20.4
157    21.0
189    20.8
221    20.7
253    20.4
285    21.5
317    22.0
349    21.7
381    22.0
413    22.8
445    22.4
477    22.4
Name: bodyweight, dtype: float64

In [21]:
def calculate_drop(days, lag=0):
    days = days[lag:].values

    c = []
    for idx, d in enumerate(days):
        if (idx+1) % 4 == 0:
            c.append(d - np.sum(days[idx-3:idx]) / 3)

    print(c)
    
    return np.mean(c)

In [22]:
c_array = []
for lag in range(4):
    print(lag)
    c_array.append(calculate_drop(days, lag=lag))

0
[0.43333333333333357, -0.43333333333333357, 0.2666666666666657]
1
[0.9000000000000021, 0.8666666666666671, 0.8999999999999986]
2
[0.36666666666666714, 1.1333333333333364, 0.23333333333333073]
3
[-0.03333333333333499, 0.3999999999999986, 3.552713678800501e-15]

In [23]:
c_array

[0.08888888888888857,
 0.8888888888888893,
 0.5777777777777781,
 0.12222222222222238]

model is that every 4 days there will be a dip so every 4 days the value should be lower than the three days on either side. need to generate an equation or simulation with parameters that can be fit and then can work out how well the model fits the data. can then perform the model with +1, +2, and +3 days lag to see if it is fit any better

can also see if bodyweight, food intake and water intake arrive at similar values

one paramter is how much less than mean - maybe this is the only required paramter

where d is day and c is cycle effect

dn = (dn-3 + dn-2 + dn-1) / 3 - c for dn, dn+4, dn+8..

could calculate c for dn, dn+4, dn+8 ..., then sum it up and see if it is less than zero - do this with a lag and see which c is 'biggest'